BASE_URL=your base url
USERNAME=your username
PASSWORD=your password
LOCKEDUSER=your locked out user's username
PROBLEM_USER=your problem user's username

FIRSTNAME = Your fisrtname
LASTNAME = Your lastname
ZIP = Your zip code
PAYMENT_INFO = "Payment info"