pytest==8.2.0

httpx==0.28.1

playwright==1.42.0

allure-pytest==2.15.3

pytest-xdist==3.8.0

python-dotenv==1.0.1

psycopg2-binary==2.9.9

k6==1.1.0

argon2-cffi==23.1.0

pandas==3.0.2

pytest-html==4.2.0

zaproxy==0.5.0